<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(duration=.5)" >
        <title>@ViewData["Title"] - DigitalArtStd</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/customForm.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mouseanim.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/transitions.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/devices.min.css" type="text/css">
        <link rel="stylesheet" href="~/css/splashscreen.css" asp-append-version="true">
    </head>


    <body id="topPage">

        <div class="back">
            <object type="image/svg+xml" data="@ViewData["captionImage"]"></object>
        </div>

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/Home">Home</a>
                <a href="/Home/Portfolio">Portfolio</a>
                <a href="/Home/About#main">About Me</a>
                <a href="/Home/Privacy#main">Privacy</a>
                <a href="/Home/Contact#main">Contact</a>
            </div>
        </div>

        <ul class="rightBody">
            <li class="">
                <a href="mailto:info@digitalartstd.com" class="icon-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg165" viewBox="0 0 341.33334 256">
                        <path id="path179" d="M34.6667,253.821C33.5667,253.458,30.1266,252.254,27.0221,251.145L21.3774,249.13L26.4814,243.565C29.2886,240.504,34.8287,234.348,38.7927,229.885C46.6341,221.055,54.6737,212.047,83.3333,179.975C87,175.872,94.8,167.173,100.667,160.646C106.533,154.118,114.568,145.152,118.521,140.722C122.474,136.291,126.492,131.821,127.449,130.787C128.934,129.182,129.835,129.407,133.594,132.317C136.017,134.193,139.2,136.848,140.667,138.216C152.712,149.456,165.834,160.075,168.507,160.746C172.382,161.718,176.681,159.604,183.58,153.333C187.888,149.418,199.73,139.22,209.777,130.775C212.037,128.875,212.576,129.12,216.941,134.027C232.923,151.994,239.567,159.429,241.333,161.324C242.433,162.503,247.532,168.238,252.664,174.068C257.796,179.897,264.199,187.067,266.893,190C269.587,192.933,272.889,196.597,274.229,198.14C275.57,199.684,280.867,205.632,286,211.358C291.133,217.084,298.577,225.421,302.541,229.885C306.505,234.348,312.034,240.493,314.829,243.54L319.909,249.08L314.288,251.54C308.957,253.873,301.639,254.012,172.667,254.241C97.8667,254.373,35.7667,254.184,34.6667,253.821ZM4.255,228.391C0.28316,218.187,0.0148718,211.835,0.0148718,128C0.0148718,41.6632,0.22531,37.2914,4.90648,26.3771L7.03223,21.4208L17.1656,30.3771C22.739,35.303,27.9725,39.9333,28.7957,40.6667C34.9745,46.1711,40.626,51.0995,48.672,58C53.8024,62.4,58.3,66.319,58.6667,66.709C59.0333,67.0989,66.5333,73.6938,75.3333,81.3642C90.0029,94.1508,97.9981,101.178,101.854,104.675C102.668,105.413,105.292,107.632,107.687,109.606L112.04,113.195L107.687,118.245C105.292,121.022,102.133,124.547,100.667,126.078C99.2,127.609,93.5,133.896,88,140.049C82.5,146.203,74.7573,154.859,70.794,159.285C66.8307,163.712,61.7307,169.434,59.4607,172.001C57.1906,174.569,49.6333,182.994,42.6667,190.725C35.7,198.456,26.4,208.874,22,213.878C17.6,218.881,12.1336,225.032,9.85237,227.545L5.70475,232.116ZM332.601,228.853C331.17,227.096,325.5,220.668,320,214.568C314.5,208.468,307.3,200.46,304,196.772C296.454,188.34,297.215,189.185,285.333,176.03C279.833,169.94,274.24,163.692,272.904,162.145C271.568,160.599,261.668,149.51,250.904,137.504C240.14,125.498,231.162,114.964,230.952,114.095C230.524,112.324,231.013,111.862,260.667,86.0217C272.4,75.7972,282.3,67.1095,282.667,66.7158C283.033,66.3221,287.531,62.4,292.661,58C300.707,51.0995,306.359,46.1711,312.538,40.6667C333.942,21.5982,334.113,21.4747,335.676,23.9764C336.51,25.3121,338.124,30.0005,339.263,34.395C341.031,41.2191,341.331,54.9054,341.318,128.192C341.302,214.711,340.964,221.75,336.436,229.839C335.336,231.806,334.917,231.698,332.601,228.853ZM149.936,115.86C138.971,106.249,128.2,96.7846,126,94.8277C123.8,92.8708,107.9,79.0046,90.6667,64.0141C73.4333,49.0235,58.6725,36.1378,57.8649,35.3792C56.3646,33.9701,34.4564,14.8758,27.4598,8.87936L23.5862,5.55953L30.7018,3.44643C36.9881,1.5796,53.3003,1.33333,170.667,1.33333C288.033,1.33333,304.345,1.5796,310.632,3.44643L317.747,5.55953L313.874,8.87866C311.743,10.7042,308.198,13.8033,305.995,15.7656C303.792,17.7278,297.792,22.9333,292.661,27.3333C287.531,31.7333,283.033,35.6524,282.667,36.0423C282.3,36.4322,274.8,43.0132,266,50.6667C257.2,58.3201,249.7,64.9027,249.333,65.2947C248.967,65.6867,242.667,71.182,235.333,77.5066C222.349,88.7052,219.678,91.0302,211.297,98.4342C209.077,100.395,202.477,106.2,196.63,111.333C190.784,116.466,185.235,121.388,184.3,122.271C181.044,125.346,171.054,133.333,170.466,133.333C170.139,133.333,160.901,125.47,149.936,115.86Z" stroke-width="1.33333" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/digitalartstd/" class="icon-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg55" viewBox="0 0 341.33334 341.33334">
                        <path id="path87" d="M137.333,254L137.333,181.333L123.333,181.333L109.333,181.333L109.333,156.667L109.333,132L123.333,132L137.333,132L137.357,111.667C137.391,81.3677,141.343,67.1628,153.366,54.1195C165.675,40.7653,178.253,37.3804,215.667,37.353L242.667,37.3333L242.667,62L242.667,86.6667L223.27,86.6667C204.007,86.6667,203.85,86.6911,200.603,90.1947C197.448,93.5989,197.333,94.3942,197.333,112.861L197.333,132L220.151,132L242.969,132L242.201,137.667C241.778,140.783,240.78,150.533,239.984,159.333C237.741,184.103,240.595,181.333,217.308,181.333L197.333,181.333L197.333,254L197.333,326.667L167.333,326.667L137.333,326.667Z" stroke-width="1.33333" />
                    </svg>
                </a>
            </li>
            <li class="">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/Vince0382" class="icon-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 438.549 438.549" style="white-space: preserve-spaces;">
                        <path d="M409.132,114.573C389.524,80.977,362.927,54.379,329.334,34.773C295.736,15.166,259.057,5.365,219.271,5.365C179.49,5.365,142.799,15.169,109.208,34.773C75.612,54.378,49.016,80.977,29.408,114.573C9.803,148.168,0,184.854,0,224.63C0,272.41,13.94,315.375,41.827,353.536C69.711,391.7,105.733,418.108,149.89,432.763C155.03,433.717,158.835,433.046,161.309,430.767C163.784,428.485,165.02,425.627,165.02,422.205C165.02,421.634,164.971,416.497,164.876,406.788C164.778,397.079,164.732,388.609,164.732,381.382L158.165,382.518C153.978,383.285,148.696,383.61,142.319,383.518C135.945,383.429,129.328,382.761,122.477,381.519C115.623,380.288,109.248,377.433,103.347,372.96C97.449,368.487,93.262,362.632,90.787,355.404L87.932,348.834C86.029,344.46,83.033,339.601,78.94,334.275C74.847,328.944,70.708,325.33,66.521,323.427L64.522,321.996C63.19,321.045,61.954,319.898,60.811,318.567C59.669,317.236,58.814,315.904,58.243,314.57C57.671,313.235,58.145,312.14,59.67,311.281C61.195,310.422,63.951,310.005,67.95,310.005L73.658,310.858C77.465,311.621,82.174,313.9,87.791,317.709C93.405,321.515,98.02,326.463,101.637,332.551C106.017,340.357,111.294,346.305,117.483,350.398C123.667,354.491,129.902,356.534,136.182,356.534C142.462,356.534,147.886,356.058,152.456,355.111C157.021,354.159,161.304,352.728,165.303,350.826C167.016,338.068,171.68,328.267,179.291,321.416C168.443,320.276,158.69,318.559,150.027,316.276C141.369,313.99,132.422,310.28,123.192,305.136C113.957,299.999,106.296,293.62,100.207,286.01C94.117,278.396,89.119,268.4,85.22,256.031C81.319,243.657,79.368,229.383,79.368,213.205C79.368,190.17,86.888,170.568,101.925,154.388C94.881,137.07,95.546,117.656,103.922,96.148C109.442,94.433,117.628,95.72,128.476,100.001C139.326,104.284,147.27,107.953,152.316,110.995C157.362,114.036,161.405,116.613,164.451,118.703C182.156,113.756,200.427,111.282,219.269,111.282C238.111,111.282,256.386,113.756,274.092,118.703L284.941,111.854C292.36,107.284,301.121,103.096,311.203,99.289C321.291,95.484,329.005,94.436,334.337,96.151C342.899,117.66,343.662,137.073,336.616,154.391C351.652,170.571,359.175,190.178,359.175,213.208C359.175,229.386,357.217,243.705,353.322,256.174C349.422,268.645,344.381,278.631,338.197,286.153C332.006,293.674,324.296,300.003,315.066,305.139C305.834,310.279,296.884,313.989,288.226,316.275C279.564,318.561,269.811,320.279,258.963,321.421C268.857,329.983,273.805,343.498,273.805,361.96L273.805,422.197C273.805,425.619,274.995,428.476,277.377,430.759C279.756,433.038,283.513,433.709,288.653,432.754C332.816,418.101,368.838,391.692,396.721,353.528C424.601,315.367,438.546,272.402,438.546,224.622C438.536,184.851,428.728,148.168,409.132,114.573Z" />
                    </svg>
                </a>
            </li>
        </ul>

        <div id="splashscreen" class="splashscreen @ViewData["LoadingPage"]">
            <object class="anim text-center" type="image/svg+xml" data="~/images/digital_anim.svg"></object>
        </div>

        <div id="layout" class="hidden">
            <div class="container mainBody">
                <div class="topHeader">
                    <a href="#">
                        <img id="mainLogo" class="logo" src="~/images/digital.svg" />
                    </a>
                    <nav class="customNav">
                        <div>
                            <ul class="nav navbar customNavBar">
                                <li class="nav-item"><a class="nav-link" href="/Home">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Home/Portfolio">Portfolio</a></li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="dropdown-toggle nav-link-dropdown" data-toggle="dropdown">About <b class="caret"></b></a>
                                    <ul class="dropdown-menu nav-item-dropdown">
                                        <li><a class="nav-link" href="/Home/About#main">About Me</a></li>
                                        <li><a class="nav-link" href="/Home/Privacy#main">Privacy</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/Home/Contact#main">Contact</a></li>
                            </ul>
                            <div class="toggle-menu">
                                <a onclick="openNav()">&#9776;</a>
                            </div>
                        </div>
                    </nav>

                    <div class="topBody fadeInDown">
                        <div class="caption text-right">
                            <h3>
                                @ViewData["Caption"]
                            </h3>
                            <div>
                                <a id="carouselButton" href="#@ViewData["sectionID"]">@ViewData["buttonCaption"]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topFooter">
                    <div class="flex-container">
                        <a class="arrow" href="#@ViewData["sectionID"]"></a>
                    </div>
                </div>

            </div>



            <partial name="_CookieConsentPartial" />

            <div class="container text-center customBody">
                <div class="container body-content">
                    @RenderBody()


                </div>

                <div class="customFooter text-lightG spacer100 text-center">
                    <footer>
                        <div class="contact-small">
                            <div class="spacer40">
                                <a class="Group" id="GroupLogo" href="#topPage">
                                    <svg shape-rendering="geometricPrecision" text-rendering="geometricPrecision" style="white-space:pre; height:10vh;" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                                        <defs>
                                            <linearGradient id="Gradient-0" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(526.54 -306.7 -306.7 -526.54 909.92 1166.3)">
                                                <stop offset="0" stop-color="#b79662"/>
                                                <stop offset="0.082636" stop-color="#ead398"/>
                                                <stop offset="0.086022" stop-color="#ead398"/>
                                                <stop offset="0.2478" stop-color="#b79662"/>
                                                <stop offset="0.52338" stop-color="#b79662"/>
                                                <stop offset="0.75101" stop-color="#b79662"/>
                                                <stop offset="1" stop-color="#fad792"/>
                                            </linearGradient>
                                            <linearGradient id="Gradient-1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(526.54 -306.7 -306.7 -526.54 827.31 1024.4)">
                                                <stop offset="0" stop-color="#b79662"/>
                                                <stop offset="0.082636" stop-color="#ead398"/>
                                                <stop offset="0.086022" stop-color="#ead398"/>
                                                <stop offset="0.2478" stop-color="#b79662"/>
                                                <stop offset="0.52338" stop-color="#b79662"/>
                                                <stop offset="0.75101" stop-color="#b79662"/>
                                                <stop offset="1" stop-color="#fad792"/>
                                            </linearGradient>
                                            <linearGradient id="Gradient-2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(526.54 -306.7 -306.7 -526.54 845.83 1056.2)">
                                                <stop offset="0" stop-color="#b79662"/>
                                                <stop offset="0.082636" stop-color="#ead398"/>
                                                <stop offset="0.086022" stop-color="#ead398"/>
                                                <stop offset="0.2478" stop-color="#b79662"/>
                                                <stop offset="0.52338" stop-color="#b79662"/>
                                                <stop offset="0.75101" stop-color="#b79662"/>
                                                <stop offset="1" stop-color="#fad792"/>
                                            </linearGradient>
                                        </defs>
                                        <g class="">
                                            <path class="" id="_a0" d="M790.06,1238.5L1042.72,1238.49L1042.72,985.834L962.83,985.834L962.83,989.77L1038.78,989.77L1038.78,1234.56L793.995,1234.56L793.995,1098.79L790.06,1098.79Z" fill="url(#Gradient-0)" opacity="1" transform="translate(251.783,242.485) rotate(180) scale(-1.3333,1.3333) translate(-916.041,-1116.64)" />
                                        </g>
                                        <path class="D." id="D" d="M791.02,1083.1C790.441,1083.1,789.967,1082.89,789.596,1082.48C789.224,1082.07,789.039,1081.57,789.039,1081L789.039,986.06C789.039,985.565,789.203,985.111,789.534,984.698C789.863,984.284,790.318,984.08,790.896,984.08C792.215,984.08,792.876,984.739,792.876,986.062L792.876,1079.26L801.416,1079.26L801.416,986.31C801.416,985.732,801.603,985.237,801.974,984.822C802.344,984.409,802.819,984.203,803.397,984.203L819.611,984.328C826.376,984.409,832.771,985.729,838.797,988.288C844.819,990.845,850.06,994.353,854.516,998.81C858.972,1003.26,862.499,1008.48,865.099,1014.47C867.698,1020.45,868.998,1026.86,868.998,1033.71C868.998,1040.48,867.698,1046.88,865.099,1052.9C862.499,1058.92,858.972,1064.16,854.516,1068.62C850.06,1073.07,844.819,1076.6,838.797,1079.2C832.771,1081.8,826.376,1083.1,819.611,1083.1ZM805.254,1079.26C807.646,1079.26,810.038,1079.28,812.432,1079.32C814.825,1079.36,817.217,1079.39,819.611,1079.39C825.882,1079.39,831.803,1078.19,837.373,1075.79C842.943,1073.39,847.77,1070.15,851.855,1066.06C855.939,1061.97,859.177,1057.14,861.571,1051.56C863.964,1045.98,865.161,1040.06,865.161,1033.78C865.161,1027.49,863.964,1021.61,861.571,1016.11C859.177,1010.62,855.918,1005.83,851.793,1001.73C847.666,997.645,842.839,994.401,837.311,992.006C831.782,989.609,825.882,988.37,819.611,988.288C817.217,988.205,814.825,988.164,812.432,988.164L805.254,988.164Z" fill="url(#Gradient-1)" transform="translate(-968.691,1731.3) rotate(180) scale(-1.3333,1.3333)" />
                                        <path class="A." id="A" d="M901.18,1082C900.849,1081.09,900.067,1079.05,898.828,1075.87C897.591,1072.7,896.084,1068.78,894.31,1064.11C892.535,1059.45,890.555,1054.32,888.369,1048.7C886.182,1043.09,883.995,1037.42,881.809,1031.68C879.622,1025.95,877.477,1020.36,875.373,1014.91C873.269,1009.47,871.412,1004.64,869.803,1000.43C868.194,996.223,866.894,992.799,865.904,990.158C864.914,987.517,864.419,986.155,864.419,986.074C864.419,985.084,864.831,984.465,865.657,984.217C865.822,984.217,865.924,984.196,865.966,984.156C866.007,984.113,866.109,984.094,866.276,984.094C867.182,984.094,867.801,984.506,868.133,985.331L896.971,1060.34L926.678,985.331C927.007,984.506,927.585,984.094,928.41,984.094C928.575,984.094,928.699,984.113,928.782,984.156C928.863,984.196,928.987,984.217,929.154,984.217C929.977,984.465,930.391,985.042,930.391,985.95C930.391,986.031,929.977,987.167,929.154,989.355C928.327,991.54,927.235,994.407,925.873,997.956C924.511,1001.5,922.944,1005.55,921.17,1010.09C919.395,1014.62,917.559,1019.29,915.662,1024.07C913.763,1028.86,911.906,1033.58,910.093,1038.25C908.275,1042.91,906.583,1047.16,905.017,1050.99C903.449,1054.83,902.127,1058.07,901.056,1060.71C899.983,1063.35,899.281,1065,898.952,1065.66L903.036,1076.18L939.055,985.331C939.303,984.506,939.922,984.094,940.911,984.094C941.407,984.094,941.84,984.28,942.212,984.651C942.583,985.022,942.769,985.455,942.769,985.95C942.769,986.031,942.252,987.393,941.221,990.035C940.189,992.675,938.848,996.119,937.199,1000.37C935.547,1004.62,933.628,1009.47,931.443,1014.91C929.256,1020.36,927.028,1025.95,924.759,1031.68C922.489,1037.42,920.22,1043.09,917.951,1048.7C915.681,1054.32,913.639,1059.45,911.825,1064.11C910.009,1068.78,908.462,1072.7,907.183,1075.87C905.903,1079.05,905.098,1081.09,904.77,1082C904.522,1082.74,903.944,1083.11,903.036,1083.11C902.127,1083.11,901.508,1082.74,901.18,1082" fill="url(#Gradient-2)" transform="translate(-968.691,1731.3) rotate(180) scale(-1.3333,1.3333)" />
                                </svg>
                               </a>
                            </div>
                            <div class="row spacer40 no-margin" style="width:100%;">
                                <div class="col-5 text-right">
                                    <a href="mailto:info@digitalartstd.com" class="icon-hover">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg165" viewBox="0 0 341.33334 256">
                                            <metadata id="metadata171" />
                                            <path id="path179" d="M34.6667,253.821C33.5667,253.458,30.1266,252.254,27.0221,251.145L21.3774,249.13L26.4814,243.565C29.2886,240.504,34.8287,234.348,38.7927,229.885C46.6341,221.055,54.6737,212.047,83.3333,179.975C87,175.872,94.8,167.173,100.667,160.646C106.533,154.118,114.568,145.152,118.521,140.722C122.474,136.291,126.492,131.821,127.449,130.787C128.934,129.182,129.835,129.407,133.594,132.317C136.017,134.193,139.2,136.848,140.667,138.216C152.712,149.456,165.834,160.075,168.507,160.746C172.382,161.718,176.681,159.604,183.58,153.333C187.888,149.418,199.73,139.22,209.777,130.775C212.037,128.875,212.576,129.12,216.941,134.027C232.923,151.994,239.567,159.429,241.333,161.324C242.433,162.503,247.532,168.238,252.664,174.068C257.796,179.897,264.199,187.067,266.893,190C269.587,192.933,272.889,196.597,274.229,198.14C275.57,199.684,280.867,205.632,286,211.358C291.133,217.084,298.577,225.421,302.541,229.885C306.505,234.348,312.034,240.493,314.829,243.54L319.909,249.08L314.288,251.54C308.957,253.873,301.639,254.012,172.667,254.241C97.8667,254.373,35.7667,254.184,34.6667,253.821ZM4.255,228.391C0.28316,218.187,0.0148718,211.835,0.0148718,128C0.0148718,41.6632,0.22531,37.2914,4.90648,26.3771L7.03223,21.4208L17.1656,30.3771C22.739,35.303,27.9725,39.9333,28.7957,40.6667C34.9745,46.1711,40.626,51.0995,48.672,58C53.8024,62.4,58.3,66.319,58.6667,66.709C59.0333,67.0989,66.5333,73.6938,75.3333,81.3642C90.0029,94.1508,97.9981,101.178,101.854,104.675C102.668,105.413,105.292,107.632,107.687,109.606L112.04,113.195L107.687,118.245C105.292,121.022,102.133,124.547,100.667,126.078C99.2,127.609,93.5,133.896,88,140.049C82.5,146.203,74.7573,154.859,70.794,159.285C66.8307,163.712,61.7307,169.434,59.4607,172.001C57.1906,174.569,49.6333,182.994,42.6667,190.725C35.7,198.456,26.4,208.874,22,213.878C17.6,218.881,12.1336,225.032,9.85237,227.545L5.70475,232.116ZM332.601,228.853C331.17,227.096,325.5,220.668,320,214.568C314.5,208.468,307.3,200.46,304,196.772C296.454,188.34,297.215,189.185,285.333,176.03C279.833,169.94,274.24,163.692,272.904,162.145C271.568,160.599,261.668,149.51,250.904,137.504C240.14,125.498,231.162,114.964,230.952,114.095C230.524,112.324,231.013,111.862,260.667,86.0217C272.4,75.7972,282.3,67.1095,282.667,66.7158C283.033,66.3221,287.531,62.4,292.661,58C300.707,51.0995,306.359,46.1711,312.538,40.6667C333.942,21.5982,334.113,21.4747,335.676,23.9764C336.51,25.3121,338.124,30.0005,339.263,34.395C341.031,41.2191,341.331,54.9054,341.318,128.192C341.302,214.711,340.964,221.75,336.436,229.839C335.336,231.806,334.917,231.698,332.601,228.853ZM149.936,115.86C138.971,106.249,128.2,96.7846,126,94.8277C123.8,92.8708,107.9,79.0046,90.6667,64.0141C73.4333,49.0235,58.6725,36.1378,57.8649,35.3792C56.3646,33.9701,34.4564,14.8758,27.4598,8.87936L23.5862,5.55953L30.7018,3.44643C36.9881,1.5796,53.3003,1.33333,170.667,1.33333C288.033,1.33333,304.345,1.5796,310.632,3.44643L317.747,5.55953L313.874,8.87866C311.743,10.7042,308.198,13.8033,305.995,15.7656C303.792,17.7278,297.792,22.9333,292.661,27.3333C287.531,31.7333,283.033,35.6524,282.667,36.0423C282.3,36.4322,274.8,43.0132,266,50.6667C257.2,58.3201,249.7,64.9027,249.333,65.2947C248.967,65.6867,242.667,71.182,235.333,77.5066C222.349,88.7052,219.678,91.0302,211.297,98.4342C209.077,100.395,202.477,106.2,196.63,111.333C190.784,116.466,185.235,121.388,184.3,122.271C181.044,125.346,171.054,133.333,170.466,133.333C170.139,133.333,160.901,125.47,149.936,115.86Z" stroke-width="1.33333" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/digitalartstd/" class="icon-hover">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg55" viewBox="0 0 341.33334 341.33334">
                                            <metadata id="metadata61" />
                                            <path id="path87" d="M137.333,254L137.333,181.333L123.333,181.333L109.333,181.333L109.333,156.667L109.333,132L123.333,132L137.333,132L137.357,111.667C137.391,81.3677,141.343,67.1628,153.366,54.1195C165.675,40.7653,178.253,37.3804,215.667,37.353L242.667,37.3333L242.667,62L242.667,86.6667L223.27,86.6667C204.007,86.6667,203.85,86.6911,200.603,90.1947C197.448,93.5989,197.333,94.3942,197.333,112.861L197.333,132L220.151,132L242.969,132L242.201,137.667C241.778,140.783,240.78,150.533,239.984,159.333C237.741,184.103,240.595,181.333,217.308,181.333L197.333,181.333L197.333,254L197.333,326.667L167.333,326.667L137.333,326.667Z" stroke-width="1.33333" />
                                        </svg> 
                                    </a>
                                </div>
                                <div class="col-5 text-left">
                                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Vince0382" class="icon-hover">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 438.549 438.549" style="white-space: preserve-spaces;">
                                        <path d="M409.132,114.573C389.524,80.977,362.927,54.379,329.334,34.773C295.736,15.166,259.057,5.365,219.271,5.365C179.49,5.365,142.799,15.169,109.208,34.773C75.612,54.378,49.016,80.977,29.408,114.573C9.803,148.168,0,184.854,0,224.63C0,272.41,13.94,315.375,41.827,353.536C69.711,391.7,105.733,418.108,149.89,432.763C155.03,433.717,158.835,433.046,161.309,430.767C163.784,428.485,165.02,425.627,165.02,422.205C165.02,421.634,164.971,416.497,164.876,406.788C164.778,397.079,164.732,388.609,164.732,381.382L158.165,382.518C153.978,383.285,148.696,383.61,142.319,383.518C135.945,383.429,129.328,382.761,122.477,381.519C115.623,380.288,109.248,377.433,103.347,372.96C97.449,368.487,93.262,362.632,90.787,355.404L87.932,348.834C86.029,344.46,83.033,339.601,78.94,334.275C74.847,328.944,70.708,325.33,66.521,323.427L64.522,321.996C63.19,321.045,61.954,319.898,60.811,318.567C59.669,317.236,58.814,315.904,58.243,314.57C57.671,313.235,58.145,312.14,59.67,311.281C61.195,310.422,63.951,310.005,67.95,310.005L73.658,310.858C77.465,311.621,82.174,313.9,87.791,317.709C93.405,321.515,98.02,326.463,101.637,332.551C106.017,340.357,111.294,346.305,117.483,350.398C123.667,354.491,129.902,356.534,136.182,356.534C142.462,356.534,147.886,356.058,152.456,355.111C157.021,354.159,161.304,352.728,165.303,350.826C167.016,338.068,171.68,328.267,179.291,321.416C168.443,320.276,158.69,318.559,150.027,316.276C141.369,313.99,132.422,310.28,123.192,305.136C113.957,299.999,106.296,293.62,100.207,286.01C94.117,278.396,89.119,268.4,85.22,256.031C81.319,243.657,79.368,229.383,79.368,213.205C79.368,190.17,86.888,170.568,101.925,154.388C94.881,137.07,95.546,117.656,103.922,96.148C109.442,94.433,117.628,95.72,128.476,100.001C139.326,104.284,147.27,107.953,152.316,110.995C157.362,114.036,161.405,116.613,164.451,118.703C182.156,113.756,200.427,111.282,219.269,111.282C238.111,111.282,256.386,113.756,274.092,118.703L284.941,111.854C292.36,107.284,301.121,103.096,311.203,99.289C321.291,95.484,329.005,94.436,334.337,96.151C342.899,117.66,343.662,137.073,336.616,154.391C351.652,170.571,359.175,190.178,359.175,213.208C359.175,229.386,357.217,243.705,353.322,256.174C349.422,268.645,344.381,278.631,338.197,286.153C332.006,293.674,324.296,300.003,315.066,305.139C305.834,310.279,296.884,313.989,288.226,316.275C279.564,318.561,269.811,320.279,258.963,321.421C268.857,329.983,273.805,343.498,273.805,361.96L273.805,422.197C273.805,425.619,274.995,428.476,277.377,430.759C279.756,433.038,283.513,433.709,288.653,432.754C332.816,418.101,368.838,391.692,396.721,353.528C424.601,315.367,438.546,272.402,438.546,224.622C438.536,184.851,428.728,148.168,409.132,114.573Z" />
                                    </svg> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="spacer40">
                            <p class="center">&copy; DigitalArt Studio - All Rights Reserved 2018</p>
                        </div>
                    </footer>
                </div>
            </div>

        </div> <!-- END OF MAIN LAYOUT-->

        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
